body {
    background-color: #757575;
}

.card-body {
    text-align: center;
}

.card {
    background-color: #D32F2F;
    color: #8BC34A;
}

.cardStyles {
    display: flex;
}

.houseStyle {
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-around;
}

.voldyStyle {
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-around;
}

.card1 {
    width: 40%;
    
}
.card2 {
    width: 40%;
    background-color: white;
    border: black solid 3px;
}