body {
    background-color: #757575;
}

.card-body {
    text-align: center;
}

.card {
    background-color: #D32F2F;
    color: #8BC34A;
}

.cardStyles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.houseStyle, .voldyStyle {
    flex-basis: auto;
    margin: 15px;
}

.card1, .card2 {
    /* background-color: #FFFFFF; */
    width: calc(50% - 30px);
}